{% extends 'base.html.twig' %}

{% block body %}
	<h1>Inscription sur le site</h1>
	{{ form_start(form) }}
	{{ form_row(form.pseudo) }}
	{{ form_row(form.email) }}
	{{ form_row(form.password) }}
	{{ form_row(form.confirm_password) }}
	<input type="submit" class="btn btn-success" value="Inscription">
	{{ form_end(form) }}
{% endblock %}

{% block title %}
	Inscription
{% endblock %}

