<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div id="app">
        <!--<hello></hello>-->
        <v-app dark>
            <router-view name="header"></router-view>
            <router-view name="home"></router-view>
            <v-content>
                <v-container  ma-0 pa-0 fill-height>
                    <router-view name="content"></router-view>
                </v-container>
            </v-content>
        </v-app>
    </div>
</template>

<script>
    export default {
        name: "app"
    }
</script>

<style scoped>

</style>