{% extends 'base.html.twig' %}

{% block title %}Hello cityLocate !!{% endblock %}

{% block body %}
    <div>
        <div id="app">Oups ... il y eu un probleme chef ! </div>
    </div>
{% endblock %}
