<template>
    <div>
        <h3>Votre token : {{$store.state.token}}</h3>
        Votre score : {{score}}
        {{time}}
        <span v-if="getActualPhoto">{{getNamePhoto}}</span>
        <MyMap v-if="this.latVille && this.longVille && photos && photos.length"
               :latPhoto="getLatPhoto"
               :longPhoto="getLongPhoto"
               :latVille="latVille"
               :longVille="longVille"
               @clickOnMap="passerAuTourSuivant"></MyMap>
        <img v-if="getActualPhoto" :src="getActualPhoto.link" alt="photo">
    </div>
</template>

<script>
    import axios from 'axios'
    import MyMap from './MyMap'
import { clearInterval, setInterval } from 'timers';

    export default {
        name: "beginGame",
        components: {
            MyMap
        },
        data: ()=>{
            return {
                time: 0,
                interval: null,
                actualPhoto: 0,
                score: 0,
                partie: {},
                photos: [],
                latVille: null,
                longVille: null
            }
        },
        methods: {
            passerAuTourSuivant (distance) {
                console.log(this.getActualPhoto)
                console.log("distance " + distance)

                if(distance < (1/this.$store.state.difficulte) * 100){
                    this.score += (5 * this.getCoeffTimer)
                } else if (distance < (1/this.$store.state.difficulte) * 100 * 2) {
                    this.score += (3 * this.getCoeffTimer)
                } else if (distance < (1/this.$store.state.difficulte) * 100 * 3) {
                    this.score += (1 * this.getCoeffTimer)
                }
                if (this.actualPhoto === this.photos.length-1) {
                    this.$router.replace({name: 'gameFinal'})
                } else {
                    this.togglerTimer()
                    this.actualPhoto++
                }
            },
            togglerTimer () {
                this.time = 0
                clearInterval(this.interval)
                console.log('timer stops')

                this.interval = setInterval(this.incrementTime, 1000)
            },
            incrementTime () {
                this.time = parseInt(this.time) + 1
            }
        },
        mounted() {
            this.togglerTimer()

            axios.get('http://127.0.0.1:8000/partie/get', {
                params:{
                    token: this.$store.state.token
                }
            })
                .then(function(res){
                this.partie = res.data[0]
                }.bind(this))
                    .catch(function (err) {
                        console.log(err)
                    })

            axios.get('http://127.0.0.1:8000/photo/getAllByPartie', {
                params:{
                    token: this.$store.state.token
                }
            }).then((res) => {
                // res.data.map(function (photo, index){
                //     this.photos[index] = photo
                // }.bind(this))
                this.photos = res.data
            }).catch(function (err) {
                console.log(err)
            });
        },
        created() {
            axios.get('http://127.0.0.1:8000/ville/getLatlng', {
                params:{
                    ville: this.$store.state.ville
                }
            }).then((res) => {
                this.latVille = res.data[0].latitude;
                this.longVille = res.data[0].longitude;
            }).catch(function (err) {
                console.log(err)
            });
        },
        computed: {
            getLongPhoto () {
                return this.getActualPhoto.longitude
            },
            getLatPhoto () {
                return this.getActualPhoto.latitude
            },
            getNamePhoto :function () {
                return this.getActualPhoto.name
            },
            getActualPhoto () {
                return this.photos[this.actualPhoto]
            },
            getCoeffTimer () {
                if (this.time <= 2) {
                    return 4
                } else if (this.time <= 5) {
                    return 2
                } else if (this.time >= 10) {
                    return 0
                } else {
                    return 1
                }
            }
        }
    }

</script>

<style scoped>
</style>