<template>
    <div class="game">
        <h1>Bienvenue dans votre nouveau jeu préféré : City locate</h1>
        <router-link :to="{name: 'start'}">Commencer</router-link>
        <router-link :to="{name: 'choice'}">Params</router-link>
        <router-view name="gameContent"></router-view>
    </div>
</template>

<script>
    export default {
        name: "game"
    }
</script>

<style scoped>
</style>