<template>
    <div class="gamestarter">
        <v-card flat>
            <v-card-title primary-title>
                <h4>Commencer une partie</h4>
            </v-card-title>
            <v-text-field prepend-icon="person" name="Pseudo" label="Pseudo" v-model="$store.state.pseudo" @keyup.enter="changePseudo($store.state.pseudo)"></v-text-field>
            <v-card-actions>
                <v-btn primary large block @click.native="changePseudo($store.state.pseudo)" :to="{name: 'choice'}">Let's start</v-btn>
            </v-card-actions>
        </v-card>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import {mapActions} from 'vuex'
    export default {
        computed: {
            ...mapGetters(['pseudo'])
        },
        methods: {
            ...mapActions([
                'changePseudo',
            ])
        },
        name: "gamestarter"
    }
</script>

<style scoped>

</style>