<template>
    <div>
        <h3>Ici on joue !</h3>
        <ul>
            <li v-for="partie in parties">
                <v-btn primary large block @click.native="changeToken(partie.token)" :to="{name: 'beginGame'}">Pseudo : {{partie.pseudo}}, Score: {{partie.score}}, Difficulté: {{partie.difficulte}}, token: {{partie.token}}</v-btn>
            </li>
        </ul>
    </div>
</template>

<script>
    import axios from 'axios'
    import {mapActions} from 'vuex'
    export default {
        name: "gamePlay",
        data: function () {
            return {
                parties: []
            }
        },
        methods: {
            ...mapActions([
                'changeToken'
            ])
        },
        mounted() {
            axios.get('http://127.0.0.1:8000/partie/get/all',{
                params:{
                    pseudo: this.$store.state.pseudo
                }
            }).then((res) => {
                console.log(res.data)
                res.data.map(function (object) {
                    this.parties.push(object)
                }.bind(this))
            }).catch(function (err) {
                console.log(err)
            })
        }
    }
</script>

<style scoped>

</style>