<template>
    <div>
        <h1>Ici choisissez vos params ! </h1>
        Pseudo : {{$store.state.pseudo}}
        <v-radio-group v-model="$store.state.difficulte" v-on:change="changeDifficulte($store.state.difficulte)">
            <v-radio
                    v-for="n in 3"
                    :key="n"
                    :label="`Difficulté ${n}`"
                    :value="n"
            ></v-radio>
        </v-radio-group>
        <v-radio-group v-model="$store.state.ville" v-on:change="changeVille($store.state.ville)">
            <v-radio
                    v-for="n in villes"
                    :key="n"
                    :label="`${n}`"
                    :value="n"
            ></v-radio>
        </v-radio-group>
        <v-btn primary large block @click.native="createNewGame()" :to="{name: 'play'}">Créer une nouvelle partie</v-btn>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'
    import axios from 'axios'

    export default {
        name: "gameChoice",
        data: function () {
            return {
                villes: []
            }
        },
        computed: {
            ...mapGetters({
                pseudo: 'pseudo',
                difficulte: 'difficulte',
                ville: 'ville'
            })
        },
        methods: {
            ...mapActions([
                'changeDifficulte',
                'changeVille'
            ]),
            createNewGame(){
                console.log(this.$store.state.pseudo);
                axios.post('http://127.0.0.1:8000/partie/new', {
                    pseudo: this.$store.state.pseudo,
                    difficulte: this.$store.state.difficulte,
                    ville: this.$store.state.ville,
                    score: 0
                })
                    .then(function (res) {
                        console.log(res)
                    })
            }
        },
        mounted() {
            axios.get('http://127.0.0.1:8000/getAllVille')
                .then((res) => {
                    console.log(res.data);
                    res.data.map(function (object){
                        this.villes.push(object.name)
                    }.bind(this));
                })
        }
    }
</script>

<style scoped>

</style>