<template>
    <div class="hello">
        <h1>{{ msg }}</h1>
    </div>
</template>

<script>
    export default {
        name: "hello",
        data () {
            return {
                msg: 'Welcome to Vue mon bro'
            }
        }
    }
</script>

<style scoped>

</style>