<template>
    <div id="mapLeaflet" @dblclick="this.catchClickEventOnMap"></div>
</template>

<script>
    import L from 'leaflet/dist/leaflet'
import { setTimeout } from 'timers';

    export default {
        name: "MyMap",
        props:[
            'latVille',
            'longVille',
            'latPhoto',
            'longPhoto',
        ],
        data: ()=>{
            return {
                distance: 0,
                clickLatLng: 0
            }
        },
        methods: {
            catchClickEventOnMap () {
                if (typeof window.marker !== 'undefined'){
                    this.distance = window.marker._latlng.distanceTo(L.latLng(this.latPhoto, this.longPhoto));
                    console.log(window.marker)
                    this.$emit('clickOnMap', this.distance);    
                } else {
                    setTimeout( this.catchClickEventOnMap, 10);
                }
            },
            createMap () {
                window.mymap = L.map('mapLeaflet').setView([Number(this.latVille), Number(this.longVille)], 14);
                L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(window.mymap);
                window.mymap.on('click', function (event) {
                    window.marker = new L.marker(event.latlng).addTo(mymap);
                })
                window.mymap.doubleClickZoom.disable();
            }
        },
        mounted() {
            this.createMap();
        }
    }
</script>

<style scoped>
    #mapLeaflet{
        height: 600px;
    }
</style>