<template>
    <!--<h1>test</h1>-->
    <nav>
        <v-toolbar  class="blue-grey" dark fixed app>
            <v-toolbar-side-icon></v-toolbar-side-icon>
            <v-toolbar-title class="white--text"><router-link :to="{name: 'homepage'}">CityLocate</router-link></v-toolbar-title>
            <v-btn>
                <v-icon>beenhere</v-icon>
                <router-link :to="{name: 'game'}">JOUER</router-link>
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn>
                <a href="http://127.0.0.1:8000/login">Connexion</a>
            </v-btn>
            <v-btn>
                <a href="http://127.0.0.1:8000/registration">Inscription</a>
            </v-btn>
            <v-btn>
                <a href="http://127.0.0.1:8000/admin">Espace admin</a>
            </v-btn>
            <v-btn icon>
                <v-icon>more_vert</v-icon>
            </v-btn>
        </v-toolbar>
    </nav>
</template>

<script>
    export default {
        name: "Navbar"
    }
</script>

<style scoped>

</style>